body {
    background-color: #4056A1;
    margin: 0;
    padding: 0;
}

.section-1 {
    color: white;
    margin: 0px 200px 0px 200px;
   
}

.subsection-1 {
    top: 0%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
}



.logo {
    justify-content: flex-start;
    display: flex;
}

.links {
    justify-content: flex-end;
    display: flex;
}

a{
    text-decoration: none;
    color: wheat;
    font-size: 24px;
    padding: 10px;
}

a:hover {
    color: white;
}

.subsection-2 {
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.header {
    font-size: 48px;
}

.header-content {
    font-size: 24px;
}

button {
    background-color: white;
    color: #4056A1;
    border-radius: 20px;
    text-decoration: none;
    padding: 24px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color:white;
}

button:hover {
    background-color: #4056A1;
    color: white;
    cursor: pointer;
}

.section-2 {
    background-color: whitesmoke;
    color: #4056A1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section2-header {
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
    font-weight: 900;
}

.subsection-3 {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.info {
    max-width: 200px;
}

.subsection-3 img{
    height: 150px;
    width: auto;
}

.subsection-3 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 2.5px;
}

.section-3 {
    background-color: #4056A1;
    color: whitesmoke;
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 24px 240px;
}

.section-3 h1{
    font-size: 48px;
}

.section-3 p{
    font-size: 24px;
}

.section-4 {
    background-color: whitesmoke;
    color: #4056A1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subsection-5 {
    background-color: #4056A1;
    color: whitesmoke;
    margin: 50px;
    padding: 50px 800px;
    text-align: center;
}

.subsection-5 button{
    font-size: 24px;
}

.section-5 {
    text-align: center;
    color: whitesmoke;
    margin: 24px;
    font-size: 18px;
}